# Ignore all
*
!*/
*/*/slprj
*/*/*ert*

!.gitignore
!README.MD

#how to use
!how_to_use/imgs/*

#blink
!example_blink/imgs/*
!example_blink/project/main.slx

#rgb
!example_rgb/imgs/*
!example_rgb/project/main.slx
!example_rgb/project/lib_serial.slx
!example_rgb/project/lib_rgb.slx
!example_rgb/project/lib_button.slx

#dht
!example_dht/imgs/*
!example_dht/project/main.slx
!example_dht/project/lib_DHT_sensor_library/**

#http
!example_HTTPrequest/imgs/*
!example_HTTPrequest/project/main.slx
!example_HTTPrequest/project/lib_ESP32Core/**
!example_HTTPrequest/project/lib_HTTPClient/**
!example_HTTPrequest/project/lib_WiFi/**
!example_HTTPrequest/project/lib_WiFiClientSecure/**

#mqtt
!example_mqtt/imgs/*
!example_mqtt/project/main.slx
!example_mqtt/project/lib_ESP32Core/**
!example_mqtt/project/lib_HTTPClient/**
!example_mqtt/project/lib_WiFi/**
!example_mqtt/project/lib_WiFiClientSecure/**

#alexa
!example_alexa/imgs/*
!example_alexa/project/main.slx
!example_alexa/project/main.sldd
!example_alexa/project/lib_AsyncTCP/**
!example_alexa/project/lib_ESP32Core/**
!example_alexa/project/lib_WiFi/**
!example_alexa/project/lib_fauxmoESP/**